<div class="main-bg" ng-controller="userlistController" ng-init="loginOK()">
<div class="row"><h2 class="col-md-12">用户管理</h2></div>
<div class="row below-title">
    <div class="col-md-12 btn-row">
        <button type="button" class="btn btn-primary" ng-click="banUser(0)">正常</button>
        <button type="button" class="btn btn-primary" ng-click="banUser(1)">禁言</button>
        <button type="button" class="btn btn-primary" ng-click="banUser(-1)">拉黑</button>
    </div>
</div>    
<div class="row">
     <div class="col-md-4">
        <table >
            <tr>
                <td >
                    <p id="page-text">每页展示&nbsp&nbsp</p>
                </td>
                <td >
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            {{dropdowmItems[selectindex]}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" ng-repeat="item in dropdowmItems"><a role="menuitem" tabindex="-1" href="#/userlist" ng-click="countPageChange($index)" target="_self">{{item}}</a></li>
                        </ul>
                    </div>
                </td>       
            </tr>
        </table>
    </div>
    <div class="col-md-4 ">
        <table>
          <tr>
              <td>
                <div class="dropdown filter-1" >
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                        {{selectType[typeIndex]}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <li role="presentation" ng-repeat="item in selectType"><a role="menuitem" tabindex="-1" href="#/userlist" ng-click="filtChange($index,0)" target="_self">{{item}}</a></li>
                    </ul>
                </div>
              </td>  
              <td>  
                <div class="dropdown filter-1" >
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown">
                        {{selectItem[filtItemIndex]}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                        <li role="presentation" ng-repeat="item in selectItem"><a role="menuitem" tabindex="-1" href="#/userlist" ng-click="filtChange($index,1)" target="_self">{{item}}</a></li>
                    </ul>
                </div>
               </td>
               <td>
                <button type="button" class="btn btn-primary filter-1" data-toggle="button" aria-pressed="false" autocomplete="off" ng-click="changeFilt()">{{filtStr[filtState]}}</button>
               </td>
           </tr>
        </table>
    </div> 
           
    <div id="search" class="col-md-4">
        <input type="text" class="searchBox form-control" placeholder="搜索用户名或昵称" ng-model="searchData.data" ng-change="searchChange()"/>
    </div>
</div>
<p>已选中: {{sel.nCount}} 条纪录</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th><input type="checkbox" ng-checked="checkAllBool" ng-click="selectAll()">&nbsp&nbsp全选</th>
            <th>头像</th>
            <th ng-click="sort('userid')">账户<img ng-src="{{sortImg[sortState.userid]}}" style="float:right;"></th>
            <th ng-click="sort('nickname')">昵称<img ng-src="{{sortImg[sortState.nickname]}}" style="float:right;"></th>
            <th ng-click="sort('gender')">性别<img ng-src="{{sortImg[sortState.gender]}}" style="float:right;"></th>
            <th ng-click="sort('age')">年龄<img ng-src="{{sortImg[sortState.age]}}" style="float:right;"></th>
            <th ng-click="sort('regtime')">注册时间<img ng-src="{{sortImg[sortState.regtime]}}" style="float:right;"></th>
            <th ng-click="sort('logintime')">登陆时间<img ng-src="{{sortImg[sortState.logintime]}}" style="float:right;"></th>
            <th ng-click="sort('ban')">状态<img ng-src="{{sortImg[sortState.ban]}}" style="float:right;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in userlist">
            <td><input type="checkbox" ng-click="selected($index)" ng-checked="selectedList[$index]"></td>
            <td><a href="{{'#/detail/'+user.userid}}"><img ng-src="{{user.profile}}" class="img-circle" alt="资源无效，不能加载" onerror="this.src='../images/profile-404.png'"></a></td>
            <td>{{user.userid}}</td>
            <td>{{user.nickname}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.age}}</td>
            <td>{{user.reg_time}}</td>
            <td>{{user.last_login_time}}</td>
            <td><div class="banstate" ng-style="user.banStyle">{{user.ban_statusTmp}}</div></td>
        </tr>

        </tbody>
    </table>
</div>
<nav>
    <ul class="pagination">
        <li ng-class='{disabled:currentPage==0}'><a href="#/userlist" ng-click="changePage(currentPage-1)" target="_self">《</a></li>
        <li ng-repeat="index in arrPage" ng-class='{active:$index==currentPage}' ng-click="changePage($index)"><a href="#/userlist" target="_self">{{index+1}}</a></li>
        <li ng-class='{disabled:currentPage==arrPage.length-1}'><a href="#/userlist" ng-click="changePage(currentPage+1)" target="_self">》</a></li>
    </ul>
</nav>
</div>