<div class="main-bg">
    <form name="addarticle" ng-controller="articleimportController">
        <div>
            标题:   <input type="text" size=100 ng-model="title" ng-init="" required>
            <select ng-model="tag" ng-options="tag.tagname for tag in tags">
                <option value=""></option>
            </select>
        </div>
            <br>
        <div class="ueditor"  config="config" ng-model="content"></div>
        <br>
        <div align="right" >
            <button type="button" class="btn btn-primary" ng-click="importarticle()" ng-disabled="content.length==0 && title.length==0">提交</button>
        </div>

    </form>

</div>