<div class="main-bg" ng-controller="articleListController">
    <div class="row"><h2 class="col-md-12">博文管理</h2></div>
    <div class="row">
        <div class="col-md-6">
            <table >
                <tr>
                    <td >
                        <p id="page-text">每页展示&nbsp&nbsp</p>
                    </td>
                    <td >
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                {{dropdowmItems[selectindex]}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" ng-repeat="item in dropdowmItems"><a role="menuitem" tabindex="-1" href="#/2" ng-click="countPageChange($index)" target="_self">{{item}}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="search" class="col-md-6">
            <input type="text" class="searchBox form-control" placeholder="搜索博文标题或内容" ng-model="searchData.data" ng-change="searchChange()"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 profile-rightSide">
        <ul role="tablist" class="nav nav-tabs">
            <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="new-tab" target="_self">最新博文</a></li>
            <li role="presentation" class=""><a aria-controls="profile" data-toggle="tab" id="hot-tab"  role="tab" aria-expanded="false" target="_self">最热博文</a></li>

        </ul>
        <div class="tab-content">
            <div aria-labelledby="new-tab" class="tab-pane fade active in" role="tabpanel">
                <ul class="media-list">
                    <li ng-repeat="article in articleList">
                        <div >
                            <table class="table table-bordered table-hover">
                                <tbody>
                                <tr>
                                    <td class="col-md-2" align="center">[<a ng-repeat="tag in article.tags" ng-href="{{'#/tag/'+tag}}" class="pure-button pure-button-link">{{tag|articletag}}</a>]</td>
                                    <td class="col-md-7">
                                        <div class="col-md-12"><a ng-href="{{'#/articledetail/'+article.article_id}}"> {{article.cover_text|articletitle}}</a> <font color="gray">(  评论数:{{article.comments_count}}  赞: {{article.thumbs_count}} )</font></div>
                                    </td>
                                    <td class="col-md-3">
                                        <div>
                                            <a ng-href="{{'#/detail/'+article.author.userid}}">{{article.author.nickname}}</a>
                                        </div>
                                        <div class="time-show">
                                            {{article.time|timeconvert}}
                                        </div>
                                    </td>

                                </tbody>
                            </table>
                        </div>

                    </li>
                </ul>

            </div>
            <div aria-labelledby="hot-tab" id="profile" class="tab-pane fade" role="tabpanel">

            </div>
        </div>
        <div gen-pagination="pagination"></div>
    </div>
    </div>
</div>
