<div  class="main-bg" ng-controller="authenticationController">
    <div class="row"><h2 class="col-md-12">认证详情</h2></div>
    <div class="row">
        <div class="col-md-1">
            <img alt="90x90" ng-src="{{userinfo.profile|profilefilter}}" style="width: 90px; height: 90px;">
        </div>
        <div>
            <p>
                <a href="{{'#/detail/'+userinfo.userid}}">{{userinfo.userid}}</a>
            </p>
            <p>{{userinfo.nickname}}</p>
        </div>

    </div>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span>身份证认证</span>
                <span class="label" ng-style="userinfo.auth.idcard.auth_status|authclass">{{userinfo.auth.idcard.auth_status|authstatus}}</span>
                <div class="pull-right">
                    <button type="button" id="idcard-auth-confirm" data-loading-text="加载中" class="btn btn-xs btn-primary" ng-click="approve(0)" ng-disabled="userinfo.auth.idcard==null || userinfo.auth.idcard.auth_review.length==0">认证</button>
                    <button type="button" id="idcard-auth-refuse" data-loading-text="加载中" class="btn btn-xs btn-primary" ng-click="reject(0)" ng-disabled="userinfo.auth.idcard==null || userinfo.auth.idcard.auth_review.length==0">拒绝</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2" ng-repeat="img in userinfo.auth.idcard.auth_images">
                    <a ng-href="{{img}}" class="thumbnail" target="_blank">
                        <img ng-src="{{img}}" class="authimage" alt="">
                    </a>
                </div>

            </div>
            <div ng-show="userinfo.auth.idcard==null">
                &nbsp;&nbsp;&nbsp;&nbsp;暂无认证图片
            </div>
            <div class="panel-heading">
                审核意见：
                <div><textarea rows="1" cols="100" placeholder="请输入审核意见" ng-model="userinfo.auth.idcard.auth_review" style="resize:none"></textarea></div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <span>资格证认证</span>
                <span class="label" ng-style="userinfo.auth.cert.auth_status|authclass">{{userinfo.auth.cert.auth_status|authstatus}}</span>
                <div class="pull-right">

                    <button type="button" id="title-auth-confirm" data-loading-text="加载中" class="btn btn-xs btn-primary" ng-click="approve(1)" ng-disabled="userinfo.auth.cert==null || userinfo.auth.cert.auth_review.length==0">认证</button>
                    <button type="button" id="title-auth-refuse" data-loading-text="加载中" class="btn btn-xs btn-primary" ng-click="reject(1)" ng-disabled="userinfo.auth.cert==null || userinfo.auth.cert.auth_review.length==0">拒绝</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2" ng-repeat="img in userinfo.auth.cert.auth_images">
                    <a ng-href="{{img}}" class="thumbnail" target="_blank">
                        <img ng-src="{{img}}" class="authimage" alt="">
                    </a>
                </div>

            </div>
            <div ng-show="userinfo.auth.cert==null">
                &nbsp;&nbsp;&nbsp;&nbsp;暂无认证图片
            </div>
            <div class="panel-heading">
                审核意见：
                <div><textarea rows="1" cols="100" placeholder="请输入审核意见" ng-model="userinfo.auth.cert.auth_review" style="resize:none"></textarea></div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <span>运动成绩认证</span>
                <span class="label" ng-style="userinfo.auth.record.auth_status|authclass">{{userinfo.auth.record.auth_status|authstatus}}</span>
                <div class="pull-right">
                    <button type="button" id="score-auth-confirm" data-loading-text="加载中" class="btn btn-xs btn-primary" ng-click="approve(2)" ng-disabled="userinfo.auth.record==null || userinfo.auth.record.auth_review.length==0">认证</button>
                    <button type="button" id="score-auth-refuse" data-loading-text="加载中" class="btn btn-xs btn-primary" ng-click="reject(2)" ng-disabled="userinfo.auth.record==null || userinfo.auth.record.auth_review.length==0">拒绝</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2" ng-repeat="img in userinfo.auth.record.auth_images">
                    <a ng-href="{{img}}" class="thumbnail" target="_blank">
                        <img ng-src="{{img}}" class="authimage" alt="">
                    </a>
                </div>

            </div>
            <div ng-show="userinfo.auth.record==null">
                &nbsp;&nbsp;&nbsp;&nbsp;暂无认证图片
            </div>

            <div class="panel-heading">
                审核意见：
                <div><textarea rows="1" cols="100" placeholder="请输入审核意见" ng-model="userinfo.auth.record.auth_review" style="resize:none"></textarea></div>
            </div>
        </div>
    </div>
</div>