<div  class="main-bg" ng-controller="tasklistController">
    <div class="row"><h2 class="col-md-12">任务管理</h2></div>
    <div class="row">
        <div id="search" class="col-md-4">
            <input type="text" class="searchBox form-control" placeholder="搜索昵称" ng-model="searchData.data" ng-change="searchChange()"/>
        </div>
    </div>
    <div class="">
        <ul role="tablist" class="nav nav-tabs" id="taskTab">
            <li ng-class="{true: 'active', false: 'inactive'}[checked]" role="presentation"><a aria-expanded="true" aria-controls="onchecktask" data-toggle="tab" role="tab" id="onchecktask-tab"  href="#3">待审批</a></li>
            <li role="presentation" ng-class="{false: 'active', true: 'inactive'}[checked]"><a aria-controls="checkedtask" data-toggle="tab" id="checkedtask-tab"  role="tab" href="#tasklisthistory" aria-expanded="false">已审批</a></li>
        </ul>
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="source">source</th>
                <th st-sort="type">type</th>
                <th st-sort="desc">desc</th>
                <th st-sort="images">images</th>

                <th st-sort="nickname">nickname</th>
                <th st-sort="begin_time">begin_time</th>
                <th st-sort="end_time">end_time</th>
                <th st-sort="distance">distance</th>
                <th st-sort="reason">reason</th>
                <th ng-show="checked">action</th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td class="col-md-1">{{row.source|taskSource}}</td>
                <td class="col-md-1">{{row.type|typename}}</td>
                <td class="col-md-1">{{row.desc}}</td>
                <td class="col-md-1">
                    <div align="center">
                    <div ng-show="row.images.length>0">
                        <a href="html/task-images.html" target="_blank" data-toggle="tooltip" title="请点击图片查看更多" ng-click="showImgs($index)"><img ng-src="{{row.images[0]}}" class="img-small"><br><p>共{{row.images.length}}张图片</p></a>
                    </div>
                    <p class="inner" ng-show="row.images.length==0">无图片</p>
                    </div>
                </td>

                <td class="col-md-1"><a ng-href="{{'#/detail/'+row.userid}}">{{row.nickname}}</a></td>
                <td class="col-md-1">{{row.begin_time|timeconvert}}</td>
                <td class="col-md-1">{{row.end_time|timeconvert}}</td>
                <td class="col-md-1">{{row.distance}} m</td>

                <td class="col-md-1">
                    <textarea rows="4" name="S1" cols="20" ng-model="row.reason"></textarea>
                </td>
                <td ng-show="checked" class="col-md-1">
                    <button type="button" class="btn btn-primary" ng-click="Approve(row)" ng-disabled="row.reason.length==0">批准</button>

                    <button type="button" class="btn btn-primary" ng-click="Reject(row)" ng-disabled="row.reason.length==0">拒绝</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>