<div class="main-bg" ng-controller="userdetailController" ng-init="getuserInfo()">
<div class="row"><h2 class="col-md-12">用户详情</h2></div>
<div class="row belowTitle">
  <div class="col-md-2 ">
    <img ng-src="{{userDetail.profile}}" class="detailProfile" alt="资源无效，不能加载" onerror="this.src='../images/profile-404.png'"/>
    <div class="user-btn"><button type="button" class="btn btn-primary" ng-class='{disabled:userDetailBtnState[0]==0}' ng-click="banUser(0)">正常</button></div>
    <div class="user-btn"><button type="button" class="btn btn-primary" ng-class='{disabled:userDetailBtnState[1]==0}' ng-click="banUser(1)">禁言</button></div>
    <div class="user-btn"><button type="button" class="btn btn-primary" ng-class='{disabled:userDetailBtnState[2]==0}' ng-click="banUser(-1)">拉黑</button></div>
  </div>
  <div class="col-md-10 profile-rightSide">
          <div class="">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
              <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab"  href="#home" target="_self">基本信息</a></li>
              <li role="presentation" class=""><a aria-controls="profile" data-toggle="tab" id="profile-tab"  role="tab" href="#profile" aria-expanded="false" target="_self">生活照</a></li>
              <li role="presentation" class=""><a aria-controls="article" data-toggle="tab" id="article-tab"  role="tab" href="#article" aria-expanded="false" target="_self">TA的博文 ({{articlesList.length}})</a></li>
              <li role="presentation" class=""><a aria-controls="sport" data-toggle="tab" id="sport-tab"  role="tab" href="#sport" aria-expanded="false" target="_self">TA的运动纪录 ({{sportList.length}})</a></li>
              <li role="presentation" class=""><a aria-controls="followers" data-toggle="tab" id="followers-tab"  role="tab" href="#followers" aria-expanded="false" target="_self">TA的粉丝 ({{followerslist.length}})</a></li>
              <li role="presentation" class=""><a aria-controls="follows" data-toggle="tab" id="follows-tab"  role="tab" href="#follows" aria-expanded="false" target="_self">TA的关注 ({{followslist.length}})</a></li>

            </ul>
            <div class="tab-content" id="myTabContent">
              <div aria-labelledby="home-tab" id="home" class="tab-pane fade active in" role="tabpanel">
                 <div class="table-responsive">
                      <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                          <td width="30%">昵称：</td>
                          <td>{{userDetail.nickname}}</td>
                        </tr>
                        <tr>
                          <td>账户名称：</td>
                          <td>{{userDetail.userid}}</td>
                        </tr>
                        <tr>
                          <td>账号类型：</td>
                          <td>{{userDetail.role|rolefilter}}</td>
                        </tr>
                        <tr>
                          <td>是否在线：</td>
                          <td>{{userDetail.online|yesornofilter}}</td>
                        </tr>
                        <tr>
                          <td>是否为管理员：</td>
                          <td>{{userDetail.admin|yesornofilter}}</td>
                        </tr>
                        <tr>
                          <td>角色：</td>
                          <td>{{userDetail.actor|actorfilter}}</td>
                        </tr>
                        <tr>
                          <td>状态：</td>
                          <td><div class="banstate" id="detailBan" ng-style="userDetail.banStyle">{{userDetail.ban_statusTmp}}</div></td>
                        </tr>
                        <tr>
                          <td>认证：</td>
                          <td><a href="{{'#/authdetail/'+userDetail.userid}}">
                            <span class="label" ng-style="userDetail.auth.idcard.auth_status|authclass">身份证</span>
                            <span class="label" ng-style="userDetail.auth.cert.auth_status|authclass">资格证</span>
                            <span class="label" ng-style="userDetail.auth.record.auth_status|authclass">运动成绩</span>
                          </a></td>
                        </tr>
                        <tr>
                          <td>邮箱：</td>
                          <td>{{userDetail.email}}</td>
                        </tr>
                        <tr>
                          <td>性别：</td>
                          <td>{{userDetail.gender}}</td>
                        </tr>
                        <tr>
                          <td>年龄：</td>
                          <td>{{userDetail.age}}</td>
                        </tr>
                        <tr>
                          <td>手机号：</td>
                          <td>{{userDetail.phone}}</td>
                        </tr>
                        <tr>
                          <td>上次登录时间：</td>
                          <td>{{userDetail.last_login_time}}</td>
                        </tr>
                        <tr>
                          <td>在线时长：</td>
                          <td>{{userDetail.onlinetime|timechange}}</td>
                        </tr>
                        <tr>
                          <td>注册时间：</td>
                          <td>{{userDetail.reg_time}}</td>
                        </tr>
                        <tr>
                          <td>最近登录地址：</td>
                          <td>{{userDetail.address}}</td>
                        </tr>
                        <tr>
                          <td>经常出没地：</td>
                          <td>{{userDetail.oftenAppear}}</td>
                        </tr>
                        <tr>
                          <td>用户访问行为：</td>
                          <td>{{userDetail.action}}</td>
                        </tr>
                        <tr>
                          <td>用户个人说明：</td>
                          <td>{{userDetail.about}}</td>
                        </tr>
                        <tr>
                          <td>个人签名：</td>
                          <td>{{userDetail.sign}}</td>
                        </tr>
                        <tr>
                          <td>心情：</td>
                          <td>{{userDetail.emotion}}</td>
                        </tr>
                        <tr>
                          <td>职业：</td>
                          <td>{{userDetail.profession}}</td>
                        </tr>
                        <tr>
                          <td>爱好：</td>
                          <td>{{userDetail.fond}}</td>
                        </tr>
                        <tr>
                          <td>家乡：</td>
                          <td>{{userDetail.hometown}}</td>
                        </tr>
                        <tr>
                          <td>身高：</td>
                          <td>{{userDetail.height}} cm</td>
                        </tr>
                        <tr>
                          <td>体重：</td>
                          <td>{{userDetail.weight}} kg</td>
                        </tr>
                        <tr>
                          <td>可穿戴电子设备：</td>
                          <td>{{userDetail.equips.hardwares}}</td>
                        </tr>
                        <tr>
                          <td>运动鞋：</td>
                          <td>{{userDetail.equips.shoes}}</td>
                        </tr>
                        <tr>
                          <td>运动应用软件：</td>
                          <td>{{userDetail.equips.softwares}}</td>
                        </tr>
                        <tr>
                          <td>体魄值：</td>
                          <td>{{userDetail.physique_value}}</td>
                        </tr>
                        <tr>
                          <td>文学值：</td>
                          <td>{{userDetail.literature_value}}</td>
                        </tr>
                        <tr>
                          <td>魔法值：</td>
                          <td>{{userDetail.magic_value}}</td>
                        </tr>
                        <tr>
                          <td>贝币值：</td>
                          <td>{{userDetail.coin_value}}</td>
                        </tr>
                        <tr>
                          <td>总分数：</td>
                          <td>{{userDetail.score}}</td>
                        </tr>
                        <tr>
                          <td>等级：</td>
                          <td>{{userDetail.level}}</td>
                        </tr>
                        <tr>
                          <td>默认钱包地址：</td>
                          <td>{{userDetail.wallet}}</td>
                        </tr>
                        <tr>
                          <td>发表文章数量：</td>
                          <td>{{userDetail.articles_count}} 篇</td>
                        </tr>
                        <tr>
                          <td>朋友数：</td>
                          <td>{{userDetail.friends_count}}</td>
                        </tr>
                        <tr>
                          <td>粉丝数：</td>
                          <td>{{userDetail.followers_count}}</td>
                        </tr>
                        <tr>
                          <td>关注数：</td>
                          <td>{{userDetail.follows_count}}</td>
                        </tr>
                        <tr>
                          <td>黑名单数：</td>
                          <td>{{userDetail.blacklist_count}}</td>
                        </tr>
                        </tbody>
                      </table>
                 </div>
              </div>
              <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel">
                <p class="inner" ng-show="userDetail.photos.length==0">暂无</p>
                 <img class="img-responsive life-photo" ng-repeat="image in userDetail.photos" ng-src="{{image}}"/>
              </div>
              <div aria-labelledby="article-tab" id="article" class="tab-pane fade" role="tabpanel">
                <p class="inner" ng-show="articlesList.length==0">暂无</p>
                <div class="panel" ng-show="articlesList.length>0">
                  <div class="panel-heading">作者文章 ( 共 {{ articlesList.length }} 篇 )</div>
                  <ul class="media-list comments" >
                    <li ng-repeat="item in articlesList">
                      <span class="label">{{item.time|timeconvert}}</span>&nbsp;<a ng-href="{{'#/articledetail/'+item.article_id}}" title="{{item.author+'发表'}}">{{item.cover_text|articletitle}}</a>
                    </li>
                  </ul>
                  <div gen-pagination="pagination" id="articlepage"></div>
                </div>
              </div>
              <div aria-labelledby="sport-tab" id="sport" class="tab-pane fade" role="tabpanel">
                <div class="table-responsive">
                  <p class="inner" ng-show="sportList.length==0">暂无</p>
                  <table class="table table-bordered table-hover" ng-show="sportList.length>0">
                    <thead>
                    <tr>
                      <th>记录时间</th>
                      <th>纪录发布时间</th>
                      <th>距离(m)</th>
                      <th>运动图片</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in sportList">
                      <td>{{item.time|timeconvert}}</td>
                      <td>{{item.pub_time|timeconvert}}</td>
                      <td>{{item.distance}}</td>
                      <td>
                        <div align="center">
                          <div ng-show="item.images.length>0">
                            <a href="html/task-images.html" target="_blank" data-toggle="tooltip" title="请点击图片查看更多" ng-click="showImgs($index)"><img ng-src="{{item.images[0]}}" class="img-small"><br><p>共{{item.images.length}}张图片</p></a>
                          </div>
                          <p class="inner" ng-show="item.images.length==0">无图片</p>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div gen-pagination="sportpagination" ng-show="sportList.length>0" id="sportpage"></div>
                </div>
              </div>
              <div aria-labelledby="followers-tab" id="followers" class="tab-pane fade" role="tabpanel">
                <p class="inner" ng-show="followerslist.length==0">暂无</p>
                <table class="table table-bordered table-hover" ng-show="followerslist.length>0">
                  <thead>
                  <tr>
                    <th>头像</th>
                    <th>昵称</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>注册时间</th>
                    <th>登陆时间</th>
                    <th>最近登录地址</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="user in followerslist">
                    <td><a href="{{'#/detail/'+user.userid}}" target="_blank"><img ng-src="{{user.profile|profilefilter}}" class="img-circle" alt="资源无效，不能加载" onerror="this.src='../images/profile-404.png'"></a></td>
                    <td>{{user.nickname}}</td>
                    <td>{{user.gender|gender}}</td>
                    <td>{{user.birthday|age}}</td>
                    <td>{{user.reg_time|timeconvert}}</td>
                    <td>{{user.last_login_time|timeconvert}}</td>
                    <td>{{user.address}}</td>
                  </tr>
                  </tbody>
                </table>
                <div gen-pagination="followerspagination" ng-show="followerslist.length>0" id="followerspage"></div>
              </div>

              <div aria-labelledby="follows-tab" id="follows" class="tab-pane fade" role="tabpanel">
                <p class="inner" ng-show="followslist.length==0">暂无</p>
                <table class="table table-bordered table-hover" ng-show="followslist.length>0">
                  <thead>
                  <tr>
                    <th>头像</th>
                    <th>昵称</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>注册时间</th>
                    <th>登陆时间</th>
                    <th>最近登录地址</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="user in followslist">
                    <td><a href="{{'#/detail/'+user.userid}}" target="_blank"><img ng-src="{{user.profile|profilefilter}}" class="img-circle" alt="资源无效，不能加载" onerror="this.src='../images/profile-404.png'"></a></td>
                    <td>{{user.nickname}}</td>
                    <td>{{user.gender|gender}}</td>
                    <td>{{user.birthday|age}}</td>
                    <td>{{user.reg_time|timeconvert}}</td>
                    <td>{{user.last_login_time|timeconvert}}</td>
                    <td>{{user.address}}</td>
                  </tr>
                  </tbody>
                </table>
                <div gen-pagination="followspagination" ng-show="followerslist.length>0" id="followspage"></div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>