<div class="login-panel" ng-controller="loginController" ng-init="checkLogin()">
    <div><h2>悦动力后台系统</h2></div>
    <form class="login-content" role="form">
        <div class="form-group">
            <label for="exampleInputusename">用户名</label>
            <input type="text" class="form-control" id="exampleInputusename" placeholder="输入用户名" ng-keydown="enterLogin()" ng-model="username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="输入密码" ng-keydown="enterLogin()" ng-model="pwd">
        </div>
        <button type="submit" class="btn btn-primary login-btn" ng-click="onLogin()">登录</button>
    </form>
    <div class="alert alert-danger login-erro" role="alert" ng-hide="!loginAlert">
        <strong>哦，抱歉!</strong> 您输入的用户名或密码有误，请重新检查。
    </div>

</div>